.cart-container {
  margin: 3rem 0 10rem 0;
  transition: 2s;
  .cart-top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
    @media only screen and (max-width: 990px) {
      display: none;
    }

    .middle-line {
      width: 23%;
      height: 0.07rem;
      background-color: black;
      @media only screen and (max-width: 990px) {
        display: none;
      }
    }
    .cart-back-to-shop {
      display: flex;
      align-items: center;
      cursor: pointer;

      .cart-arrow {
        font-size: 3rem;
        line-height: 2rem;
        margin-right: 0.8rem;
      }
    }
  }
  .cart-top-navigation-mobile {
    display: none;

    @media only screen and (max-width: 990px) {
      display: flex;
      justify-content: space-between;
      .back-to-shop {
        display: flex;
        width: 45%;
        font-size: 1.2rem;
        font-weight: 500;
        align-items: center;
        .cart-arrow {
          font-size: 3rem;
          line-height: 2rem;
          margin-right: 0.8rem;
        }
      }

      button {
        width: 45%;
        height: 3rem;
        border: none;
        background-color: rgb(31, 31, 31);
        color: rgb(229, 229, 229);
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    @media only screen and (max-width: 610px) {
      .back-to-shop {
        font-size: 1rem;
        cursor: pointer;
        .cart-arrow {
          font-size: 2rem;
          line-height: 0.5rem;
          margin-right: 0.8rem;
        }
      }
      button {
        font-size: 1rem;
        padding: 0.3rem;
      }
    }
  }
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 990px) {
    width: 100%;
    flex-direction: column;
  }

  .cart-items-wrapper {
    width: 100%;

    .cart-card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 90%;
      margin: 1rem;
      min-height: 15rem;
      border-bottom: 1px solid rgb(223, 223, 223);
      @media only screen and (max-width: 990px) {
        width: 100%;
        margin: auto;
      }

      .cart-card-row {
        display: flex;
        justify-content: space-between;
        width: 80%;
        @media only screen and (max-width: 990px) {
          width: 100%;
          margin: auto;
        }

        .image {
          width: 7.8rem;
          max-height: 10rem;
          min-height: 10rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .cart-content-wrap {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 60%;

          a {
            text-decoration: none;
            color: rgb(123, 123, 123);
          }
          .option,
          .price {
            display: flex;
            justify-content: space-between;
            span:nth-child(1) {
              color: gray;
              text-transform: capitalize;
              font-size: 0.9rem;
            }
            select {
              border: none;
              width: 2.5rem;
            }
            .price-am {
              font-weight: 500;
            }
          }
        }
      }

      .btn {
        margin: 1rem 0 0.3rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;

        .delete {
          font-size: 1.2rem;
          color: gray;
          &:hover {
            cursor: pointer;
          }
        }

        button {
          background-color: transparent;
          border: none;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1rem;
          color: gray;
          text-align: right;
          cursor: pointer;
        }
      }
    }
  }
}

.cart-order-summary {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 1.5rem;
  padding-bottom: 1rem;
  height: 100%;
  justify-content: space-between;
  height: 28rem;
  max-width: 22rem;
  min-width: 20rem;
  @media only screen and (max-width: 990px) {
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
  }
  .order-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
  }
  .total-price,
  .shipping-costs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-weight: 400;
      font-size: 1rem;
    }
    span {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
  .includes-vat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;

    h3 {
      font-weight: 400;
    }

    .vat-amount {
      font-weight: 600;
    }
  }

  .total-price-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-weight: 400;
      font-size: 1.4rem;
    }
    span {
      font-size: 2rem;
      margin-top: -1.2rem;
      margin-bottom: 2rem;
    }
  }

  button {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: rgb(31, 31, 31);
    color: rgb(229, 229, 229);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
}

.MessageBox {
  font-size: 1.5rem;
  text-align: center;
  margin: 7rem 0 20rem 0;

  button {
    width: 15rem;
    height: 3rem;
    border: none;
    background-color: rgb(31, 31, 31);
    color: rgb(229, 229, 229);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
    cursor: pointer;
  }
}

.PageInDev {
  text-align: center;
  text-align: center;
  margin: 7rem 0 20rem 0;

  button {
    width: 15rem;
    height: 3rem;
    border: none;
    background-color: rgb(31, 31, 31);
    color: rgb(229, 229, 229);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
    cursor: pointer;
  }
}
